<div class="landing">
    <div class="dark-overlay text-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center ">
            <h1 class="display-3 mb-4">Student Management System</h1>
            <p class="lead font-italic">
              Create and manage list of students.
            </p>
            <button class="btn btn-sm btn-info mr-2"><a [routerLink]="['/create-student']" class="nav-link" style="color: white;"> Add Student </a></button>
            <button class="btn btn-sm btn-info mr-2"> <a [routerLink]="['/students']" class="nav-link" style="color: white;">Student List</a></button>
          </div>
          </div>
        </div>
      </div>
    </div>
